.dark-mode,
.dark-mode :is(
    .header__name,
    .sidenav-item,
    .sidenav-item-link,
    .w-tab-link,
    .btn-secondary,
    .btn-ghost,
    .w-dropdown-btn, 
    .w-dropdown-toggle, 
    .w-dropdown-link,
    .tiny-link,
    .overflow-menu__link,
    .overflow-menu__project,
    .overflow-sub_menu-toggle) {
  color: var(--gray-100);
}

.dark-mode,
.dark-mode :is(
    .sidenav.sidenav__left,
    .section-fixed,
    .main-content,
    .linklist-toolbar.sticky-toolbar,
    .dragging-ghost-pseudoparent,
    .dragging-ghost-pseudoparent:before) { 
  background-color: var(--gray-800);
}

.dark-mode :is(
    .breadcrumb-divider) { 
  background-color: var(--gray-100);
}

.dark-mode :is(
    .divider,
    .header__base,
    .inline-notification,
    .toast-notification) {
  background-color: var(--gray-850);
}

.dark-mode :is(
    .component-example__white-theme) {
  border-color: var(--gray-850);
}


.dark-mode :is(
    .w--current) {
  background: var(--rose-100);
  outline-color: var(--rose-100);
}

.dark-mode :is(
    .linklist-item:not(.selected, .edit-mode, .linklist-archived),
    .modal_headed .divider,
    [contenteditable=true]:not(:focus):hover,
    .project-icon:not(.w--open):hover) {
  background-color: var(--gray-750);
}

.dark-mode :is(
    .overflow-menu_divider,
    .menu-divider) {
  border-color: var(--gray-750);
}

.dark-mode :is(
    .modal-container,
    .modal_headed,
    .emoji-cat-title,
    .overflow-menu,
    .main-menu-ul,
    .sub_menu,
    [contenteditable=true]:focus,
    .title-edit-mode,
    .url-edit-mode) { 
  background-color: var(--gray-725);
}

.dark-mode :is(
    .page-tabs__nav-item:not(.w--current):hover) {
  background-color: var(--gray-725);
  outline-color: var(--gray-725);
}

.dark-mode :is(
    .moda_headed-header) {
  border-bottom-color: var(--gray-750);
}

.dark-mode :is(
    .btn-disabled,
    .w-dropdown-link.disabled,
    .overflow-menu-list__title
) {
  color: var(--gray-700) !important;
}

.dark-mode :is(
    .checkbox:not(.w--redirected-checked), .radio-button:not(.w--redirected-checked)) {
  border-color: var(--gray-100);
}

.dark-mode :is(.radio-button:not(.w--redirected-checked)) {
  outline-color: var(--gray-100);
}

.dark-mode .text-input {
  background-color: var(--gray-800);
  border-color: var(--gray-800);
}
.dark-mode .text-input:focus {
  background-color: var(--gray-850);
  border-color: var(--gray-850);
  outline-style: none;
}

.dark-mode [data-bb-tab] .linklist-item-content:not(:hover) .open-tab {
    color: var(--gray-000);
    outline-color: var(--gray-000);
}

.dark-mode .linklist-archived :is(.item-title-text, .linklist-item-copyurl *, .delete-element) {
  color: var(--gray-900);
}
