
* {-webkit-font-smoothing: antialiased;} /* Refines texts rendering in Chrome */
* {-webkit-tap-highlight-color: transparent; } /* Removes flash when user taps a link on mobile */

.copyurl-text,
[data-bb-truncate="true"],
[data-truncate="true"] { /* Add ellipsis to elements */
  overflow: hidden;
  text-overflow: ellipsis;
}

input[type=text] { /* Removes innershadow on form fields on iOS */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.table-column__body-content { /* Add's ellipsis for table overflow content */
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

input.text-input, 
.modal-group-right { /* Increases sizes for elements with round corners */
    width: calc(100% + 0.5rem);
    margin-left: -0.25rem;
    margin-right: -0.25rem;
}



/*  Sidenav */

.sidenav-scroll { height: calc(100vh - 3.75rem) !important; }

.sidenav-scroll.demo { height: 352px !important;}

.sidenav-scroll { overscroll-behavior: contain; }

.sidenav-item-link ~ ul { display: none; }

.sidenav-item-link:is(.w--current, ._w--current) ~ ul { display: grid; }

.sidenav-item-link.sidenav-sublist._w--current { background-color: #ffd1d1; }

.sidenav-item-link.sidenav-sublist._w--current:hover { outline-color: transparent; }

.sidenav-item-link div,
[data-bb-truncate] * {
    overflow: hidden;
    text-overflow: ellipsis;
}


/* Overflow Menu */

.w--open .w-dropdown-link:focus {
    outline: 0.1875rem solid black;
    z-index: 2;
}



/*  Project Document */

.project-heading-area {
    resize: none;
}

.note-editable:not(:focus) ~ .modal-group-right {
    display: none;
}

[contenteditable] {
  border: 0rem none #000;
  outline-color: transparent;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 0.125rem;
  -webkit-transition: all 70ms ease;
  transition: all 70ms ease;
  border-radius: 0.5rem;
}

[contenteditable]:hover {
  background-color: rgba(0, 0, 0, 0.02);
  outline-color: rgba(0, 0, 0, 0.02);
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 0.125rem;
}

[contenteditable]:focus {
  background-color: rgba(0, 0, 0, 0.04);
  outline-color: rgba(0, 0, 0, 0.04);
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 0.125rem;
}

.project-heading:empty:after {
    content: attr(data-bb-placeholder);
    color: #b8b8b8;
}

/* .note-editable:empty {
    height: 0;
    opacity: 0;
    outline: 0;
    padding: 0;
} */

.note-editable:empty:focus {
    height: 2.75rem;
    opacity: 1;
}

.note-editable:empty:after {
    display: block;
    position: absolute;
}

.note-editable:empty + .add-description {
    display: block;
}

.note-editable:focus + .add-description {
    display: none;
}



/*  Buttons */

.btn > div:not(.btn-split__wrap) {
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden
}



/* Linklist */

.list-item-favicon img {
    vertical-align: inherit;
}

.linklist-wrapper .actions-list {
    justify-self: center;
}

.linklist-item:hover .linklist-draghandle {
    background-image: url(https://uploads-ssl.webflow.com/6209eae6fc1ea3fa8ad8301e/623a76b825ec66e08361f010_draggable-handle.svg);
    background-position: 8px 50%;
    background-size: auto;
    background-repeat: no-repeat;
}

[draggable=true]:active,
.linklist-draghandle:active,{
    cursor: grabbing;
}

.linklist-checkbox-wrapper input:checked,
.linklist-checkbox-wrapper input:checked ~ .checkbox {
    display: block;
}

.linklist-checkbox-wrapper:hover .list-item-favicon,
.linklist-checkbox-wrapper:not(:hover) .checkbox,
.linklist-checkbox-wrapper input:checked ~ .list-item-favicon {
    display: none;
}

.linklist-checkbox-wrapper input:checked ~ .checkbox {
    border: .125rem solid red;
    background: red url("https://uploads-ssl.webflow.com/6209eae6fc1ea3fa8ad8301e/6209eae7fc1ea38e1dd83074_checkmark-icon.svg") -1px 0px no-repeat;
    background-size: 14px;
}

.linklist-item .overflow-menu__toggle {
    display: none;
}

.linklist-item:hover .overflow-menu__toggle,
.linklist-item .overflow-menu__toggle.w--open {
    display: flex;
}



/*  Linklist - Close/Open tab Buttons */

.linklist-item .linklist-item-content:not(:hover) .btn,
.linklist-item .linklist-item-content:not([data-bb-tab]) .close-tab {
  display: none;
}

[data-bb-tab] .linklist-item-content:not(:hover) .btn-tab {
    opacity: .25;
    display: grid;
}

[data-bb-tab] .linklist-item-content:not(:hover) .open-tab {
    background-color: transparent;
    outline-color: black;
    outline-width: 0.0625rem;
}

[data-bb-tab] .linklist-item-content:not(:hover) .open-tab { color: black; }
.close-icon-wrapper:not(:hover) svg { color: transparent; }
.close-icon-wrapper:hover + .close-tab-text { display: flex; }


/* Linklist - Title */

.linklist-item .linklist-item-url {
    opacity: 0;
    text-overflow: ellipsis;
}

.linklist-item:focus .linklist-item-url { opacity: .25; }

.linklist-item .item-title-text {
    padding: 0.25rem !important;
    margin-left: -0.125rem;
    outline: 0;
}


/*  Linklist - Url & Url Edit */

.linklist-item.url-edit-mode > div {
	display: none;
}

.linklist-item:not(:focus, .selected, :hover) .linklist-item-copyurl {
  display: none;
}


/*  Linklist - Archived */
#archived-list .linklist-item {
    background-color: #FFFDD1;
}



/*  Text editor */

.note-popover {
    margin-left: -128px !important;
    margin-top: -72px !important;
    border-radius: .5rem !important;
    padding: .25rem !important;
    box-shadow: 0px 2px 6px 1px #00000026 !important;
    border: none !important;
    width: auto !important;
}

.note-popover.bottom .note-popover-arrow {
  left: 148px !important;
  top: 58px !important;
  transform: rotate(180deg);
  border: none !important;
}

.note-popover .popover-content {
    display: grid !important;
    grid-auto-flow: column;
}

.note-btn-group {
    display: grid !important;
    grid-auto-flow: column;
    gap: .25rem;
}

.note-btn {
    border-radius: 5px !important;
    border: none !important;
    background: #f2f2f2 !important;
}

.note-btn:hover {
    border: none !important;
    background: #f2f2f2 !important;
}

[contenteditable] { padding: 0.375rem !important; }
[contenteditable].project-heading { padding: 0 0.375rem !important; }

[contenteditable] :is(p, h1, h2, h3, h4, h5, ul, ol):first-child { margin-top: 0; }    /* Prevents margins at the begging...  */
[contenteditable] :is(p, h1, h2, h3, h4, h5, ul, ol):last-child { margin-bottom: 0; }  /* ... and end of project descriptions */



/* Emoji Modal */

.emojipicker-header:focus-within {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 3;
    right: 0;
    transition: all 200ms ease;
    opacity: .97;
}

.emojipicker-header:focus-within ~ .emoji-cat .emoji-cat-title {
    top: -4rem;
}

.modal-content.emojipicker-scroll {
    overflow-y: scroll;
}



/* Buildsmart Library */

.bbb .sidenav-item-link {
    font-weight: 400;
}



/* Code Block */

code[class*=language-], 
pre[class*=language-] {
    padding: 0;
    margin: 0;
    overflow: auto;
    color: hsl(0deg 0% 50%) !important;
    background: transparent;
}

.tag .attr-value {
    color: red;
}

.token.tag {
    color: white !important;
}

.attr-equals,
.attr-value .punctuation,
.attr-name {
    color: hsl(0deg 0% 50%) !important;
}
