
* {-webkit-font-smoothing: antialiased;} /* Refines texts rendering in Chrome */
* {-webkit-tap-highlight-color: transparent; } /* Removes flash when user taps a link on mobile */
input[type=text] {   
  /* Removes innershadow on form fields on iOS */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.table-column__body-content {
  /* Add's ellipsis for table overflow content */
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}
input.text-input, .modal-footer {
/* Increases sizes for elements with round corners */
    width: calc(100% + 0.5rem);
    margin-left: -0.25rem;
    margin-right: -0.25rem;
}
.sidenav__scroll-wrap {
  height: calc(100vh - 3.75rem) !important;
}

.sidenav__scroll-wrap {
  overscroll-behavior: contain;
}

.sidenav-list__item-link ~ ul {
  display: none;
}

.sidenav-list__item-link.w--current ~ ul {
    display: grid;
}

code[class*=language-], pre[class*=language-] {
    padding: 0;
    margin: 0;
    overflow: auto;
    color: hsl(0deg 0% 50%) !important;
    background: transparent;
}

.tag .attr-value {
    color: red;
}

.token.tag {
    color: white !important;
}

.attr-equals,
.attr-value .punctuation,
.attr-name {
    color: hsl(0deg 0% 50%) !important;
}

.list-item .list-item-url {
    opacity: 0;
    text-overflow: ellipsis;
}

.list-item:hover .list-item-url {
    opacity: .25;
}

.list-item .list-item-url:hover {
    opacity: 1;
}
[draggable=true]:hover {
    background-image: url(https://uploads-ssl.webflow.com/6209eae6fc1ea3fa8ad8301e/62321e40140a3a7622d77586_draggable-handle.svg);
    background-position: 8px 50%;
    background-size: auto;
    background-repeat: no-repeat;
}
.list-item-selector:hover input,
.list-item-selector input:checked {
    display: block;
}

.list-item-selector:hover img,
.list-item-selector input:checked ~ img{
    display: none;
}
